starting_monkey_to_human_path/src/PO51/Kalmykov/wdad/learnxml/restaurant.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT restaurant (date*)>
<!ELEMENT date (order*)>
<!ELEMENT order (officiant?, item*, totalcost?>
<!ELEMENT item EMPTY>
<!ELEMENT totalcost (#PCDATA)>

<!ATTLIST date
          day CDATA #REQUIRED
          month CDATA #REQUIRED
          year CDATA #REQUIRED>
<!ATTLIST officiant
          firstname CDATA #IMPLIED
          secondname petrov|ivanov|sidorov #REQUIRED>
<!ATTLIST item
          name CDATA
          cost CDATA #REQUIRED>